<div class="card">
  <div class="card-block">
    <%= link_to article.title, article_path(article), class: 'btn btn-link hoang'%>
    <p class="created-at-label"><i><%= 'Created at ' + time_ago_in_words(article.created_at) + ' ago' %></i></p>
    <p class="view-count-label"><%= article.view_count%></p>
    <% if article.feature_image %>
      <img src="<%= article.feature_image %>" class="img-fluid">
    <% end %>
    <p class="card-text body"><%= markdown.render(article.body).html_safe %></p>
  </div>
  <% if !showButtonView %>
    <%= link_to 'Back', root_path, class: 'btn btn-link'%>
    <%= link_to 'Edit', edit_article_path(article), class: 'btn btn-link'%>
    <%= link_to 'Delete this article',
                article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure you want to delete this article?' },
                class: 'btn btn-link'%>
  <%end%>
</div>
