<!DOCTYPE html>
<html>
<head>
  <title>MarkdownBlogRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-light bg-faded">
  <div class="nav navbar-nav">
    <%= link_to 'Home', root_path, class: 'nav-item nav-link active'%>
    <a class="nav-item nav-link" href="#">About</a>
  </div>
</nav>

<%= yield %>

</body>
</html>
